
html, body {
	height: 100%;
}
.number {
	font-size: 125px;
	color: white;
}
.a-left {
	text-align: left;
}

.resultBg {
	background: #F4F4F4;
	text-align: left;
}

.itemElement {
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
}

#editModal {
	padding-left: 0 !important;
}

.fa-archive:hover, .fa-tag:hover,
.fa-edit:hover {
	color: #868e96 !important;
}

#addonAdd {
	cursor: pointer;
}

.input-group-addon:hover {
	background: #868e96 !important;
}
.addList:disabled {
	background: #343a40 !important;
}

.nav-pills.active:hover {
	color: #ffffff !important; 
}


/* new stuff */
