<h2 class="m-3" ng-init="invItemServiceGet()">{{messages.titleView}}
({{items.itemData.length}})</h2>
<form class="m-2">
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">
      <strong>Search:</strong></label>
    <div class="col-sm-4">
      <input type="text" class="form-control" ng-model="filter.search">
    </div>
  </div>
</form>
<div class="row mb-2">
  <div class="col-sm-12 p-3">
    <div class="row border" ng-repeat="item in items.itemData | filter: filter.search"
    ng-class="{'bg-light': $index%2}" ng-swipe-right="toggleFilter(item)">
      <div class="col-sm-1 align-self-center justify-content-center pt-1"
      ng-show="item.toggle">
        <i class="fas fa-edit fa-2x text-dark"></i>
      </div><!--endcol-->
      <div class="col-sm-11 p-2 table-responsive">
        <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Name</th>
              <th scope="col">Category</th>
              <th scope="col">Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">{{item.ID}}</th>
              <td>{{item.name}}</td>
              <td>{{item.categoryName}}</td>
              <td>{{item.description}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="archiveModal" tabindex="-1" role="dialog"
aria-labelledby="archiveModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Archive</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" ng-click="togg">Close</button>
        <button type="button" class="btn btn-danger">Save changes</button>
      </div>
    </div>
  </div>
</div>
