<h2 class="m-3" >{{messages.titleMetrics}}</h2>
<hr>
<div class="row">
<div class="col-sm-12 w-100 pt-3 px-3">
  <div class="card">
    <div class="card-header pb-0">
      <ul class="nav nav-tabs border-0" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" data-target="#taxes" role="tab">Taxes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" data-target="#reports" role="tab">Reports</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" data-target="#charts" role="tab">Charts</a>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <div class="tab-content">
        <div class="tab-pane active" id="taxes" role="tabpanel">
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">
              <strong>For the Month:</strong></label>
            <div class="col-sm-4">
              <input type="month" class="form-control"
              ng-model="taxOption.dateFilter" ng-change="invMetricServiceGetTax()">
              <span ng-init="invMetricServiceGetTax()"></span>
            </div>
          </div>
          <div ng-if="true" class="row">
            <div class="col-sm-12 w-100 pt-3 px-5">
              <h4><p><strong>TAX REPORT</strong></p></h4>
              <hr>
              <p><strong>Taxable Amount: </strong><span class="float-right">
                {{taxes.data.taxable | currency}}</span></p>
              <p><strong>Tax: </strong><span class="float-right">
                {{taxes.data.tax | currency}}</span></p>
              <hr>
              <p class="text-muted"><strong>Tax YTD: </strong><span class="float-right">
                {{taxes.data.ytd | currency}}</span></p>
            </div><!--end col-->
          </div><!--end row-->
        </div>
        <div class="tab-pane" id="reports" role="tabpanel">
          <!-- reports options -->
          <div class="row">
          <div class="col-6">
          <ul class="nav nav-pills" id="myTab" role="tablist"
            ng-init="reportOption.typeFilter='Sales'">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="pill" href=""
              role="tab" ng-click="reportOption.typeFilter='Sales';
              invMetricServiceGet()">Sales</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="pill" href=""
              role="tab" ng-click="reportOption.typeFilter='Items';
              invMetricServiceGet()">Items</a>
            </li>
          </ul>
          </div>
          <div class="col-6">
            <select class="form-control form-control-sm"
              ng-model="reportOption.dateFilter" ng-change="invMetricServiceGet()"
              ng-init="reportOption.dateFilter='Weekly'">
              <option value="Weekly">Last 7 Days</option>
              <option value="Monthly">Last 30 Days</option>
              <option value="Annual">Last 1 Year</option>
            </select>
            <span ng-init="invMetricServiceGet()"></span>
          </div>
          </div>
          <div class="row my-3" ng-if="reports.data">
            <div class="col-sm-6">
              <div class="card m-1">
                <div class="card-body text-center">
                  <h4 class="card-title">{{reportOption.typeFilter ==
                    'Sales' ? 'Sales' : 'Purchases'}}</h4>
                  <h2 class="card-text text-success">{{reportOption.typeFilter ==
                    'Sales' ? reports.data[0].sold : reports.data[0].purchased}}</h2>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card m-1">
                <div class="card-body text-center">
                  <h4 class="card-title">{{reportOption.typeFilter ==
                    'Sales' ? 'Profit' : 'Cost'}}</h4>
                  <h2 class="card-text text-success">{{reportOption.typeFilter ==
                    'Sales' ? reports.data[0].profit :
                    reports.data[0].cost | currency}}</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="charts" role="tabpanel">
          <canvas id="pie" class="chart chart-pie"
            chart-data="testData" chart-labels="testLabel" chart-options="options">
          </canvas>
        </div>
      </div>
    </div>
  </div>
</div><!--end col-->
</div><!--end row-->
